@value siteWhite, siteLightRed from '../../styles/colors.css';

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: siteWhite;
  padding: 0 1em;
}

.figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.username {
  margin-left: 1em;
  font-weight: 600;
}

.button {
  width: 5em;
  height: 2em;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    siteLightRed 50%
  );
  border-radius: 0.5em;
  background-size: 250%;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  background-position: 100%;
  color: siteWhite;
}
