@value siteVeryLightGrey from '../../styles/colors.css';

.section {
  padding: 1em;
  background-color: siteVeryLightGrey;
  flex: 1;
}

.main {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}
