@value siteLightGrey from '../../styles/colors.css';

.input {
  width: 30%;
  min-width: 200px;
  display: block;
  margin: auto;
  border: none;
  border: siteLightGrey 1px solid;
  border-radius: 5px;
  padding: 1em;
}

.input:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .input {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .input {
    width: 100%;
  }
}
